@font-face {
    font-family: appleB;
    src: url(/AppleSDGothicNeoB.ttf);
}

@font-face {
    font-family: appleL;
    src: url(/AppleSDGothicNeoL.ttf);
}

#title {
    font-size: 30px;
    text-align: center;
    font-family: 'appleB';
    margin-top: 10%;
    color:green;
}

#gameP {
    text-align: center;
}

#contents {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'appleL';
}

#gameSpace {
    border: 1px solid #614511;
}